.HeroOptions-container {
  box-sizing: border-box;
  width: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 112px;
  background: rgb(249, 249, 249);
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
}
.HeroOptions-container p{
  font-size: 9px;
  color: #bdbdbd;
  margin-bottom: 13px;
}
.HeroOptions-icons-container {
  min-width: 194px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .HeroOptions-container {
    width: 240px;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #bdbdbd;
  }
  .HeroOptions-container p{
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .HeroOptions-icons-container {
    justify-content: space-around;
  }
}