.FooterItemLeft-container {
  margin-top: 56px;
  width: 305px;
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
  color: #828282;
  border-right: 1px solid rgb(212, 212, 212);
}
.FooterItemLeft-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.FooterItemLeft-text {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
.FooterItemLeft-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  background: none;
  color: #a4a4a4;
  height: 35px;
  width: 108px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
  cursor: pointer;
}
.FooterItemLeft-button:hover {
  background: #7c7c7c;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .FooterItemLeft-container {
    margin-top: 5.7%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .FooterItemLeft-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    min-width: 320px;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-right: none;
  }
  .FooterItemLeft-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .FooterItemLeft-text {
    margin-bottom: 10px;
    text-align: center;
  }
}
