.HeroWeeks-container {
  width: 650px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  background: rgb(249, 249, 249);
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
}
/* progress bullets */
.HeroWeeks-progress-container{
  min-width: 240px;
}
.HeroWeeks-progress-container p{
  font-size: 9px;
  color: #bdbdbd;
}
.HeroWeeks-bullets-container {
  margin-top: 14px;
  margin-bottom: 6px;
}
.HeroWeeks-bullets-container span{
  display: inline-block;
  width: 10px;
  height: 10px;
}
span.bullet-past {
  background: #adbb0c;
  border-radius: 50%;
}
span.line-past {
  height: 2px;
  background: #adbb0c;
  border-top: 4px solid rgb(249,249,249);
  border-bottom: 4px solid rgb(249,249,249);
}
span.bullet-empty {
  width: 8px;
  height: 8px;
  background: rgb(249, 249, 249);
  border-radius: 50%;
  border: 1px solid #bdbdbd;
}
span.bullet-future {
  background: #bdbdbd;
  border-radius: 50%;
}
span.line-future {
  height: 2px;
  background: #bdbdbd;
  border-top: 4px solid rgb(249,249,249);
  border-bottom: 4px solid rgb(249,249,249);
}
.HeroWeeks-week-numbers-container span{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  font-size: 9px;
  color: #bdbdbd;
  text-align: center;
}

/* weeks-slider */
.HeroWeeks-slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.HeroWeeks-slider-container button {
  width: 26px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
.HeroWeeks-slider-container button:first-child {
  background: url('../../images/heroweeks-slider-arrow-left.png') no-repeat center center;
}
.HeroWeeks-slider-container button:last-child {
  background: url('../../images/heroweeks-slider-arrow-right.png') no-repeat center center;
}
.HeroWeeks-slider-current-week {
  width: 162px;
  white-space: nowrap;
  font-size: 48px;
  color: #ff801a;
  margin: 0px 44px;
}

/* MEDIA QUERIES */
@media (max-width: 978px) {
  .HeroWeeks-container {
    width: 66.45%;
  }
  .HeroWeeks-slider-current-week {
    width: 100%;
    white-space: nowrap;
    margin: 0px 15px;
  }
}
@media (max-width: 768px) {
  .HeroWeeks-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .HeroWeeks-progress-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .HeroWeeks-bullets-container {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-right: 10px;
  }
  .HeroWeeks-week-numbers-container{
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
  }
  .HeroWeeks-slider-container{
    padding-bottom: 5px;
  }
}
