.HeroDaysOn-container {
  display: flex;
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
}
.HeroDaysOn-single-day {
  width: 126px;
  background: #ffffff;
}
.HeroDaysOn-day-number {
  height: 50px;
  font-size: 24px;
  color: #adbb0c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(234, 234, 234);
}
.HeroDaysOn-meal-cont {
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-top: 2px solid rgb(234, 234, 234);
  border-right: 2px solid rgb(234, 234, 234);
}
.HeroDaysOn-meal-name {
  width: 105px;
  font-size: 13px;
  color: #828282;
  margin-left: 13px;
  margin-top: 8px;
  margin-right: 6px;
  line-height: 1.3em;
}
.HeroDaysOn-tick {
  height: 16px;
  width: 17px;
  vertical-align: top;
  float: right;
}
.HeroDaysOn-bode-shake {
  background: url('../../images/herodayson-bode-shake.png') no-repeat center bottom;
}
.HeroDaysOn-bode-shake-active {
  background: url('../../images/herodayson-bode-shake-active.png') no-repeat center bottom;
}
.HeroDaysOn-bottom {
  height: 34px;
  border-bottom: 2px solid rgb(212, 212, 212);
  background: url('../../images/herodays-pattern.png') repeat center center;
  font-size: 11px;
  color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(212, 212, 212);
}
.HeroDaysOn-bottom::after {
  content: '-CARB'
}
.HeroDaysOn-workout {
  height: 34px;
  background: url('../../images/herodays-pattern.png') repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(212, 212, 212);
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .HeroDaysOn-container {
    display: block;
    width: 576px;
  }
  .HeroDaysOn-single-day {
    display: flex;
    width: 576px;
  }
  .HeroDaysOn-day-number,
  .HeroDaysOn-bottom {
    height: 110px;
    width: 48px;
    border-right: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
  }
  .HeroDaysOn-day-number span {
    display: none;
  }
  .HeroDaysOn-meal-cont {
    height: 110px;
    width: 85px;
    border-top: none;
    border-bottom: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
  }
  .HeroDaysOn-meal-name {
    width: 85px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
  }
  .HeroDaysOn-bottom {
    border-bottom: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
  }
  .HeroDaysOn-bottom::after {
    content: none;
  }
  .HeroDaysOn-workout {
    height: 110px;
    width: 48px;
    border-right: none;
    border-bottom: 1px solid rgb(212, 212, 212);
  }
}