.Hero-weeks-options-container {
  width: 978px;
  display: flex;
  justify-content: space-between;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .Hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Hero-weeks-options-container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .Hero-weeks-options-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
}