.HeroDayOff-container {
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
  width: 126px;
}
.HeroDayOff-day-number {
  height: 50px;
  font-size: 24px;
  color: #adbb0c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HeroDayOff-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 458px;
  border-top: 2px solid rgb(234, 234, 234);
}
.HeroDayOff-main-text {
  font-size: 35px;
  color: #c2c2c2;
  white-space: nowrap;
  transform: rotate(-90deg) translateX(158.5px);
}
.HeroDayOff-main-image {
  margin-bottom: 67px;
}
.HeroDayOff-printer {
  height: 70px;
  background: url('../../images/herodays-pattern.png') repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 5px;
}
.HeroDayOff-printer-text {
  font-size: 18px;
  color: #a2a2a2;
  margin-left: 10px;
}
