.Footer-container {
  width: 978px;
  display: flex;
  background: rgb(249, 249, 249);
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .Footer-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Footer-container {
    flex-direction: column;
  }
}