.HeroDaysHours-container {
  box-sizing: border-box;
  width: 96px;
  background: url('../../images/herodays-pattern.png') repeat center center;
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #828282;
  border-top-left-radius: 5px;
}
.HeroDaysHours-container b{
  font-weight: bold;
}
.HeroDaysHours-top {
  height: 52px;
}
.HeroDaysHours-hour {
  height: 90px;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-hour-last {
  height: 90px;
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-bottom {
  height: 34px;
  border-bottom: 2px solid rgb(212, 212, 212);
}
.HeroDaysHours-bottom-workout {
  height: 34px;
  font-size: 11px;
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-bottom-workout small{
  font-size: 8px;
}