.HeroDaysHours-container {
  box-sizing: border-box;
  width: 96px;
  background: url('../../images/herodays-pattern.png') repeat center center;
  font-family: "Helvetica Neue", "Arial Regular", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #828282;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.HeroDaysHours-container b{
  font-weight: bold;
}
.HeroDaysHours-top {
  height: 52px;
}
.HeroDaysHours-hour {
  height: 90px;
  border-bottom: 2px solid rgb(212, 212, 212);
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-hour-last {
  height: 90px;
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-bottom {
  height: 34px;
  border-bottom: 2px solid rgb(212, 212, 212);
}
.HeroDaysHours-bottom-workout {
  height: 34px;
  font-size: 11px;
  padding-left: 18px;
  display: flex;
  align-items: center;
}
.HeroDaysHours-bottom-workout small{
  font-size: 8px;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .HeroDaysHours-container {
    display: flex;
    border-top-right-radius: 5px;
    width: 576px;
    height: 30px;
  }
  .HeroDaysHours-top,
  .HeroDaysHours-bottom,
  .HeroDaysHours-bottom-workout,
  .HeroDaysHours-hour,
  .HeroDaysHours-hour-last {
    width: 48px;
    height: 30px;
    border-right: 1px solid rgb(212, 212, 212);
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .HeroDaysHours-top::after {
    content: "DAY";
    font-weight: bold;
  }
  .HeroDaysHours-hour,
  .HeroDaysHours-hour-last {
    width: 85px;
  }
  .HeroDaysHours-bottom::after {
    content: "CARB";
    font-weight: bold;
  }
  .HeroDaysHours-bottom-workout {
    border-right: none;
    font-size: 0;
  }
  .HeroDaysHours-bottom-workout::before {
    content: "GYM";
    font-weight: bold;
    font-size: 13px;
  }
  .HeroDaysHours-bottom-workout small{
    display: none;
  }
}